body {
    background-color: #FFFFFF;
  }
  
  h1 {
    font-size: 25px;
    text-align: center;
    font-family: helvetica;
  }
  
  h2 {
    font-size: 20px;
    text-align: center;
    font-family: helvetica;
  }
  
  h3 {
    font-family: helvetica;
    text-align: left;
    font-size: 15px;
  }

  h4 {
    font-family: helvetica;
    font-size: 15px;
    text-align: center;

  }
  
  p, li {
    font-size: 15px;
    line-height: 2;
    font-family: helvetica;

  }
  
  ul, li {
    font-size: 17px;
    text-align: center;
    list-style: none;
  }
  
  body {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }
  

  figure {
    font-family: helvetica;
    text-align: center;
}

#images {
  display: flex;
  justify-content: center;
}